# Copy this file to .env.local (which is git-ignored) and fill in real values.
# Never put real values directly in this .example file.

SALESON_TOKEN=
SALESON_COMPANY_ID=5249
SALESON_BASE_URL=https://app.saleson.co.in/api/v1/

WOOCOMMERCE_CONSUMER_KEY=
WOOCOMMERCE_CONSUMER_SECRET=
WOOCOMMERCE_BASE_URL=https://www.mycoolstar.com/wp-json/wc/v3/
